<div>

  <mat-toolbar color="primary">
    <span>
      <mat-icon>mood</mat-icon>
    </span>

    <span>Yai!! Frontend UI en Heippi S.A.S !!!!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-toolbar>



  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
  <!-- 
  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
  </mat-card> -->

  <mat-card>

    <mat-tab-group>


      <mat-tab label="Actividad por usuario">
        <div>
          <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsUsuario"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>

      </mat-tab>




      <mat-tab label="Actividad General">
        <div>
          <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsGeneral"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>

      </mat-tab>


      <mat-tab label="Total de Tareas">
        <div>
          <highcharts-chart [Highcharts]="highcharts" [options]="chartOptionsGeneralTareas"
            style="width: 100%; height: 400px; display: block;">
          </highcharts-chart>
        </div>
      </mat-tab>

      <mat-tab label="Datos Interesantes">
        <mat-toolbar>Número total de usuarios: {{ntotalUser}}</mat-toolbar>
        <mat-toolbar>Usuario con mayor número de posts:  usuario {{usuarioMayorPost.user}}  con {{ usuarioMayorPost.quantity}} posts</mat-toolbar>
        <mat-toolbar>Usuario con mayor cantidad de Tareas Completadas:   usuario {{usuarioMayortareasCompletadas.user}}  con {{ usuarioMayortareasCompletadas.quantity}} Tareas  completadas                                             </mat-toolbar>

        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cantidad de Posts por cada uno de los usuarios
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            Tabla aquí

<!-- <div *ngFor="let item of userPostTabla">dddddd</div> -->
<!-- 
            <table *ngIf="userPostTabla">

              <tr>
                <th>id</th>
                <th>nombre</th>
                <th>Cantidad de Posts</th>
              </tr>
            
              <tr >
                <td>cssssssssssss</td>
                <td>aaaaaaaaaaaaa </td>
                <td>wwwwwwwwwww </td>
              </tr>

              <tr *ngFor="let variable of userPostTabla">
                <td>{{variable.user}}</td>
                <td>{{variable.name}} </td>
                <td>{{variable.post}} </td>
              </tr>
            
            
            </table> -->
          </mat-expansion-panel>

 

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cantidad de Tareas por cada uno de los usuarios
              </mat-panel-title>
            </mat-expansion-panel-header>
        
            Tabla aquí
          </mat-expansion-panel>
          
          
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cantidad de Albumes por cada uno de los usuarios
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            Tabla aquí
          </mat-expansion-panel>







        </mat-accordion>
      </mat-tab>


    </mat-tab-group>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>


</div>